@model Tournament.net.Models.AccountViewModel

<h2>Deltagande</h2>
<p>@ViewBag.number</p>

@for (int i = 0; i < ViewBag.number; i++)
{

        <div id="@("GetNearestDivID" + i  )">

            @*<img src="~/Items/Avatars/@Html.DisplayFor(model =>model.ImgURL)"*@
            @Html.Label("Username:")
            @Html.TextBoxFor(x => Model.UserName, htmlAttributes: new { id = "txtBox" })


            @*@Html.TextBox("username",new {id="txtBoxUserName" })*@
            @Html.Label("Password:")
            @Html.Password("password")



            @*<input name="btnGuest" onclick="execute(document.getElementsById('txtbox')[0].value)" type="button" value="Guest" />*@
            <input id="btnGuest" type="submit" value="Guest" class="classBtnGuest" onclick="setValues()" />

            <input type="button" id="btnGetUser" value="< Get User" class="btn btn-default" style='margin:10px;'>
            @*<input type="button" id="btnGuest" value="< Guest" class="btn btn-default" style='margin:4px;'>*@


        </div>


    }

}
<input type="submit" id="btnGoToNextPage" value="Play" onclick="location.href='@Url.Action("TournamentBracket","Tournament")'" class="btn btn-default">

<script src="~/Scripts/JavaScript/Emil/EmilMain.js"></script>

<div id="screen"></div>


<script type="text/javascript">
    var names = [];
    var input = document.getElementById('txtBox');
    var screen = document.getElementById('screen');

    document.getElementById('btnGuest').onclick = function () {
        names.push(input.value);
        screen.innerHTML = input.value;
        screen.innerHTML = inputArray;
    };
</script>