@model ICollection<Tournament.net.Models.AccountInHighscoreViewModel>


@foreach (var item in Model)
{

    
    <div id="@item.UserName">
        @using (Ajax.BeginForm("HighscoreBracket", new AjaxOptions() { }))
        {
            <table class="table table-bordered">
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Score</td>
                    <td>@Html.EditorFor(x => item.Score)
                        <input type="submit" name="submitscores" value="Add scores" /></td>
                </tr>
            </table>
        }
        @*<p>@item.UserName</p>
        <p>@item.Score</p>
        <input type="number" name="someid" id="@item.UserName Score" />*@
    </div>
}





