@model ICollection<Tournament.net.Models.AccountInHighscoreViewModel>

@{
        int id = 0;
        foreach (var item in Model)
        {
        id += 1;

        <div id="Username_@id">
  
                <table class="table table-bordered">
                    <tr>
                        <td class="username">@item.UserName</td>
                        <td>@item.Score</td>
                        <td>
                            <input type="number" class="NewScore" placeholder="New Highscore"/>
                        <input type="submit" name="submitscores" value="input" class="AddScore" id="Score_btn_@id" />
                    </td>
                </tr>
            </table>
     
            @*<p>@item.UserName</p>
                <p>@item.Score</p>
                <input type="number" name="someid" id="@item.UserName Score" />*@
        </div>
    }
}
<script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>






