<!DOCTYPE html>
<html ng-app="TournamentApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Tournapp.net</title> 
     
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Styles/Main.css" rel="stylesheet" />
    <link href="~/Styles/Spinner.css" rel="stylesheet" />

    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    


    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="~/Scripts/JavaScript/AngularJS.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TOURNAPP.NET", "Index", "Main", new { area = "" }, new { @class = "navbar-brand" })
            </div>
          
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Highscores", "Index", "Main")</li>
                </ul>
                @Html.Partial("_PartialLogin")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        
    
    </div>


  
    <script src="~/Scripts/JavaScript/Hampus/Main.js"></script>
  
    <script src="~/Scripts/JavaScript/Henrik/HenrikMain.js"></script>
    <script src="~/Scripts/JavaScript/Rikard/Rikardmain.js"></script>
    <script src="~/Scripts/JavaScript/endAngular.js"></script>
</body>
</html>