
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
              
                <a id="AccountOptions_btn" href="#/">Hello @User.Identity.Name!</a>
                @*@Html.ActionLink("Hello " + User.Identity.Name + "!", "Options", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })*@

            </li>
            <li>@Html.ActionLink("Logout", "Logout", "Authentication")</li>
        </ul>
    }
}
else
{

    var options = new AjaxOptions()
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "AuthenticationDiv"
    };

    <ul class="nav navbar-nav navbar-right">
        <li><div id="AuthenticationDiv"></div></li>
        <li><a id="AccountRegister_btn" href="#/">Register</a></li>
        @*<li>@Ajax.ActionLink("Register", "Register", "Authentication", "null", options)</li>*@
        <li><a id="AccountLogin_btn" href="#/">Login</a></li>
        @*<li>@Html.ActionLink("Login", "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "" })</li>*@
    </ul>

}








